<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Add Skills</title>
</head>
<body>
    <!--Header-->
    <header role="navigation">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">Job Tracker</span>
                <div class="collapse navbar-collapse" id="navbarMain">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('get_jobs')}}">Jobs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('get_contacts') }}">Contacts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('user_logout') }}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
       <!--Add a new job form-->
       <div class="container container-md mt-2">
        <h1>Edit Skill</h1>
            <div class="card border-dark mt-3">
                <div class="card-body">
            <form action="/skills/update/{{skills._id}}" method="POST">
                <div class="row">
                    <div class="col">
                        <label for="skill">Skill</label>
                        <input class="form-control" type="text" name="skill" id="skill" value="{{skills.skill}}">
                    </div>
                </div>
                <div class="row">
                <div class="col">
                    <label for="status">Comfort Level</label>
                    <select class="form-control" name="comfort-level" id="comfort-level" required>
                        <option value="{{skills.comfort}}" selected>{{skills.comfort}}</option>
                        {% for cmft in comfort %}
                        <option value="{{cmft}}">{{cmft}}</option>
                        {% endfor %}
                    </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                  <div class="container-fluid mt-3">
                    <button type="submit" class="btn btn-outline-success">Submit</button>
                      <a role="button" class="btn btn-outline-danger" href="/jobs/skills">Cancel</a>
                  </div>
                    </div>
                    <div class="col">
                <div class="container-fluid mt-3 text-right">
                    <a role="button" class="btn btn-outline-dark" href="">Edit Skills</a>
              </div>
                    </div>
                </div>
            </form>
                </div>
            </div>
           </div>
</body>
</html>